<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>cpak</vendor>
  <vendor_url>https://cpak.it</vendor_url>

  <action id="it.cpak.system.register-session">
    <description>Register a cpak login session</description>
    <message>Authentication is required to register this cpak login session</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="it.cpak.system.remove-session">
    <description>Remove a cpak login session</description>
    <message>Authentication is required to remove this cpak login session</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
